  <span class="grampost_preview" id="<%= grampost.id %>">
    <div class="gram_image">
        <%= link_to photo_for(grampost), grampost %>
        <h2 class="price">
          <span class="ribbon">
            <%= link_to "$ #{grampost.price}", grampost %>
          </span>
        </h2>
      </div>
  </span>
