<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.gramposts.any? %>
      <h3>Gramposts</h3>
      <ol class="gramposts">
        <%= render @gramposts %>
      </ol>
      <%= will_paginate @gramposts %>
    <% end %>
  </div>
</div>
