/* Override bootstrap variables. */

$navbarBackground: #536682;
$navbarBackgroundHighlight: #597284;
$navbarLinkColor: #ffffff;
$linkColor: #536682;

@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$backgroundBeige: #EAD9C7;
$dropshadowColor: rgba(#636363, 0.5);
$gramOrange: #DE6846;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: $backgroundBeige;
  background-image: url("/assets/bg_grid.png");
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 0px;
  font-size: 1.7em;
  color: white;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.avatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .avatar {
    margin: 1px 1px;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* gramposts */
#create_button {
  text-align: center;
  margin: 10px auto;
}

#gramposts {
  text-align: center;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.grampost_preview {
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: inline-block;
  width: 300px;
  padding: 6px;
  margin: 0 2px 15px;
  background-color: white;
  -moz-box-shadow:    0px 2px 4px 1px $dropshadowColor;
  -webkit-box-shadow: 0px 2px 4px 1px $dropshadowColor;
  box-shadow:         0px 2px 4px 1px $dropshadowColor;
}

.grampost_text {
  width: 240px;
  padding: 5px;
}

.title {
  display: block;
  font-weight: bold;
/*  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    } */
  
}

.gram_image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h2.price {
   position: absolute;
   top: 20px;
   left: 0;
}

.ribbon {
  font: bold 18px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: white; /* fallback color */
  padding: 5px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-box-shadow:    3px 2px 4px 1px $dropshadowColor;
  -webkit-box-shadow: 3px 2px 4px 1px $dropshadowColor;
  box-shadow:         3px 2px 4px 1px $dropshadowColor;
  a {
    text-decoration: none;
    color: $gramOrange;
  }
}

.grampost_photo {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  display: block;
}

.content {
  display: block;
}

.timestamp {
  color: $grayLight;
}
.avatar {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
